@import "tailwindcss";

:root {
  --background: #1e1e1e;
  --foreground: #f0f0f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-dm-sans), sans-serif;
  --font-space: var(--font-space-grotesk), sans-serif;
  --animate-aurora: aurora 6s linear infinite;

  @keyframes aurora {
    from {
      background-position: 0% 50%;
    }
    to {
      background-position: 200% 50%;
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
